body {
  text-align: center;
  background-color: #495371;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}


.square{
  width: 100px;
  height: 100px;
  background-color: beige;
  border: 1px solid gray;
  display: inline-block;
  border-radius: 10px;
}

.o{
  position: relative;

}

.o::after {
  position: absolute;
  content: "🛡️";
  font-size: 50px;
  line-height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.x{
  position: relative;

}

.x::after {
  position: absolute;
  content: "⚔️";
  font-size: 50px;
  line-height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

.winner {
  display: block;
  color: white;
  font-size: 50px; 
  margin-top: 10px; 
 
}


.button{
  width: 150px;
  height: 50px;
  margin-top: 25px;
  background-color: #f1e0ac;
  color:  #483D8B;
  font-size: 20px;
  transition: 0.2s;
  border-radius: 20px;
  border: none;
 
}

.button:hover{
  background-color:  #98b4aa ;
  
}